body {
  background: linear-gradient(217deg, #0ba8ff, #c687ff);
  border: 0;
  height: 1100px;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html {
  height: 100%;
}

#listCities {
  text-decoration: none;
  padding-top: 2px;
  margin-left: 150px;
}

*:focus {
  outline: none;
}

#cityCard {
  display: flex;
  max-width: 500px;
  height: 700px;
  margin: auto;
  justify-content: center;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.2);
  column-gap: 3px;
  flex-direction: column;
  margin-top: 350px;
  border-radius: 23px;
  border: 3px solid white;
}

#heading {
  width: 500px;
  height: 20px;
  margin-left: 160px;
  margin-bottom: 40px;
  font-family: open sans;
  color: white;
}

#inputCard {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 40px;
  column-gap: 3px;
}

#inputBox {
  height: 40px;
  border-radius: 15px;
  border: none;
}

#searchButton {
  height: 40px;
  width: 40px;
  border-radius: 14px;
  border: none;
  background-color: white;
}

#searchButton:hover {
  background-color: rgb(119, 119, 119);
  color: white;
  transform: scale(1.1);
  transition: all 0.5s;
}

#previousCities {
  margin-left: 189px;
  font-family: open sans;
  margin-top: 43px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: white;
  color: rgb(119, 119, 119);
  font-weight: 500;
}

#previousCities:hover {
  background-color: rgb(119, 119, 119);
  color: white;
  transform: scale(1.1);
  transition: all 0.5s;
}

#rainBackground {
  position: absolute;
  z-index: -1;
  height: 1456px;
  top: 0px;
  width: 1710px;
}

.weatherData {
  height: 358px;
  width: 1200px;
  display: flex;
}

#map {
  height: 900px;
  width: 1194px;
  border: 3px solid white;
}

#infoContainer {
  width: 1200px;
  height: 1400px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.2);
}

.returnCityBtn {
  font-family: open sans;
  color: white;
  padding: 9px;
  margin-top: 0px;
  width: 100px;
  border-radius: 10px;
  background: linear-gradient(217deg, #0ba8ff, #c687ff 53%);
}

.returnCityBtn:hover {
  box-shadow: 0px 8px 10px darkmagenta;
  filter: hue-rotate(-0.7turn);
  cursor: default;
}

.anchorTag {
  text-decoration: none;
  width: 119px;
  margin-left: 27px;
  margin-top: 23px;
  height: 46px;
}

.weatherIn {
  color: white;
  margin-left: 400px;
}

.temperatureIn {
  color: white;
  width: 210px;
  border-radius: 10px;
  padding-left: 5px;
  margin-left: 474px;
  background: linear-gradient(217deg, #0ba8ff, #c687ff);
}

.conditionIn {
  color: white;
  width: 210px;
  border-radius: 10px;
  padding-left: 3px;
  margin-left: 475px;
  background: linear-gradient(217deg, #0ba8ff, #c687ff);
  justify-content: center;
  display: flex;
}

.precipitation {
  color: white;
  width: 210px;
  border-radius: 10px;
  margin-left: 474px;
  padding: 5px;
  background: linear-gradient(217deg, #0ba8ff, #c687ff);
}

.uvIndex {
  color: white;
  width: 210px;
  border-radius: 10px;
  margin-left: 474px;
  padding: 5px;
  background: linear-gradient(217deg, #0ba8ff, #c687ff);
}

#goBackBtnContainer {
  display: flex;
  justify-content: center;
  height: 99px;
  width: 330px;
  align-self: center;
  margin: 50px auto auto auto;
}

#goBackBtn {
  background: linear-gradient(217deg, #0ba8ff, #c687ff);
  width: 330px;
  height: 99px;
  border-radius: 50px;
  font-family: open sans;
  font-size: large;
}

#goBackBtn:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}

.bi.bi-arrow-left {
  padding-right: 5px;
  font-size: larger;
}

#cityContainer {
  display: flex;
  flex-direction: column;
  max-width: 660px;
  margin: auto;
  height: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  justify-content: center;
  row-gap: 25px;
  border: 2px solid;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  margin-top: 70px;
}

.cityCard {
  display: flex;
  flex-direction: column;
  width: 330px;
  margin: auto;
  padding-top: 25px;
  border: 1px solid;
  border-radius: 50px;
  background: linear-gradient(217deg, #0ba8ff, #c687ff);
}

.cityCard:hover {
  box-shadow: 0px 8px 10px darkmagenta;
  filter: hue-rotate(-0.7turn);
}

p#previousP {
  width: 165px;
  align-self: center;
  display: flex;
  justify-content: center;
}

h3#previousH3 {
  margin: auto;
  align-self: center;
  font-family: open sans;
}
